<ion-header>
  <ion-toolbar>
    <ion-title>Tokens</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home/']" ></ion-back-button>
    </ion-buttons>
    
      <ion-buttons slot="secondary">
        <ion-button [routerLink]="['/crypto-precios/']">
          USD
        </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
    <ion-avatar >
      <img src="https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579">
    </ion-avatar>

    <ion-card-header>
      <ion-card-title>
        {{BTC_ARS.name}} ({{BTC_ARS.symbol}})
      </ion-card-title>

      <ion-card-subtitle>
        PRECIO:
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>
          <ion-icon name="logo-usd" ></ion-icon>
          {{BTC_ARS.current_price}} ("ARS")
      </ion-card-title>
     </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-avatar>
      <img src="https://assets.coingecko.com/coins/images/279/large/ethereum.png?">
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>
        {{ETH_ARS.name}} ({{ETH_ARS.symbol}})
      </ion-card-title>
      <ion-card-subtitle>
        PRECIO:
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
       <ion-card-title>
            <ion-icon name="logo-usd" ></ion-icon>
            {{ETH_ARS.current_price}} ("ARS")
        </ion-card-title>
    </ion-card-content>

  </ion-card>
</ion-content>
