<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
    Crypto-Price
    </ion-title>
    <style>
     
    </style>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://media.giphy.com/media/QnU6mOrBbElaIQz4Fe/giphy.gif" alt="" with="300px" height="350px">
  <img src="https://media.giphy.com/media/trN9ht5RlE3Dcwavg2/giphy.gif" alt="">
  <img src="https://media.giphy.com/media/PPgZCwZPKrLcw75EG1/giphy.gif" alt="">
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon [routerLink]="['/crypto-precios/']" name="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
